doctype html
html
  head
    title signup
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/signup.css')
  body
    #main
      #info 注册
      form#form(method='POST')
        input#username.input(type='text', name='username', placeholder='用户名' value=info.username)
        #usernameError.error #{isValid.usernameError}
        input#password.input(type='password', name='password', placeholder='密码')
        #passwordError.error #{isValid.passwordError}
        input#passwordAgain.input(type='password', name='passwordAgain', placeholder='再次确认密码')
        #passwordAgainError.error #{isValid.passwordAgainError}
        input#sid.input(type='text', name='sid', placeholder='学号' value=info.sid)
        #sidError.error #{isValid.sidError}
        input#email.input(type='text', name='email', placeholder='邮箱' value=info.email)
        #emailError.error #{isValid.emailError}
        input#phone.input(type='text', name='phone', placeholder='手机号码' value=info.phone)
        #phoneError.error #{isValid.phoneError}
        button#reset(type='button') 重置
        input#submit(type='submit', value='注册', disabled='disabled')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(type='text/javascript', src='/javascripts/validator.js')
    script(type='text/javascript', src='/javascripts/signup.js')